.Deck {
  text-align: center;
}

button {
  padding: 15px;
  background-color: black;
  color: white;
  border-radius: 8px;
  border: none;
  margin: 0 10px;
}

button:hover {
  cursor: pointer;
  background-color: #444;
}

button:active,
button:focus {
  outline: none;
}

span {
  display: block;
  margin: 1em 0;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.Deck-cardarea {
  margin-top: 80px;
}
